.action-button {
  border: none;
  outline: none;
  padding: 0.8rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  background: var(--color-moderate-blue);
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.btn-mobile {
  height: 5.6rem;
  width: 12rem;
}

.btn-desktop {
  height: 4.2rem;
  width: 9.2rem;
}

.action-button:hover {
  opacity: 0.5;
}
