.text-neutral-grayish-blue {
  color: var(--color-grayish-blue);
}

.edit-container {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.6rem;
  rounded: 1.2rem;
}
