.edit-button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  color: var(--color-moderate-blue);
  font-weight: 600;
}

.edit-button:hover {
  opacity: 0.5;
}

.opacity-50 {
  opacity: 0.5;
}
