.reply-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background: var(--color-white);
  border-radius: 0.8rem;
}

@media only screen and (min-width: 769px) {
  .reply-container {
    margin-left: 9.6rem;
  }
}

.reply-container-inner {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border-radius: 0.8rem;
}

@media only screen and (min-width: 769px) {
  .reply-container-inner {
    flex-direction: row;
  }
}

.user-detail-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.user-vote-and-actions {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
