* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

:root {
  --color-bg: #ededfa;
  --color-moderate-blue: hsl(238, 40%, 52%);
  --color-soft-red: hsl(358, 79%, 66%);
  --color-light-grayish-blue: hsl(239, 57%, 85%);
  --color-pale-red: hsl(357, 100%, 86%);
  --color-dark-blue: hsl(212, 24%, 26%);
  --color-grayish-blue: hsl(211, 10%, 45%);
  --color-light-gray: hsl(223, 19%, 93%);
  --color-very-light-gray: hsl(228, 33%, 97%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  min-width: 100vw;
  background: var(--color-bg);
}

.loader-container {
  max-width: 67.2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.6rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
}

@media only screen and (min-width: 769px) {
  .loader-container {
    padding-top: 6.4rem;
  }
}

/* ---- loader ---- */
.ripple-loader {
  position: relative;
  width: 6.4rem;
  height: 6.4rem;
}

.ripple-loader div {
  position: absolute;
  border: 0.4rem solid var(--color-white);
  border-radius: 50%;
  animation: ripple-loader 1s ease-out infinite;
}

.ripple-loader-blue div {
  border: 0.4rem solid var(--color-moderate-blue);
}

.ripple-loader div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes ripple-loader {
  0% {
    top: 3.2rem;
    left: 3.2rem;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 6.4rem;
    height: 6.4rem;
    opacity: 0;
  }
}

.is-loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------ main container -----*/
.main-container {
  max-width: 67.2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
}

@media only screen and (min-width: 769px) {
  .main-container {
    padding-top: 6.4rem;
  }
}

.hidden {
  display: none;
}

.block {
  display: block;
}

@media only screen and (min-width: 769px) {
  .md-block {
    display: block;
  }

  .md-hidden {
    display: none !important;
  }
}

.-mt-2 {
  margin-top: -0.8rem;
}

.textarea {
  outline: none;
  border: 1px solid var(--color-light-gray);
  padding: 0.8rem 1.6rem;
  rounded: 1.2rem;
  width: 100%;
  color: var(--color-dark-blue);
  border-radius: 1.2rem;
  height: 15rem;
}

@media only screen and (min-width: 769px) {
  .textarea {
    height: auto;
  }
}
